<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="idoston.com.harftopish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity_0"
            android:label="Magic Games">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Magic Games"
            android:parentActivityName=".MainActivity_0">
            <intent-filter>
                <action android:name="idoston.com.harftopish.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartGame"
            android:label="Magic Games"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="idoston.com.harftopish.StartGame" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".countries"
            android:label="Magic Games"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="idoston.com.harftopish.StartGame" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".StartGameEn"
            android:parentActivityName=".MainActivity_0"
            android:label="Magic Games">
            <intent-filter>
                <action android:name="idoston.com.harftopish.StartGameEn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AnimalEn"
            android:parentActivityName=".StartGameEn"
            android:label="Magic Games">
            <intent-filter>
                <action android:name="idoston.com.harftopish.AnimalEn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CountriesEnGame"
            android:parentActivityName=".CountriesEnGame"
            android:label="Magic Games">
            <intent-filter>
                <action android:name="idoston.com.harftopish.AnimalEn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>